<h1>Havistin</h1>
<p>File successfully saved into laji.fi/vihko with id {{vihkoFileId}}</p>
<p><a href="https://laji.fi/vihko/JX.519/{{vihkoFileId}}" class="button edit vihko">edit on Vihko</a></p>
<p>You should at least add a locality name and check that taxon names are correct.
  Sometimes the track also needs edits, as GPS devices may draw parts of the track incorrectly.</p>
<p>&nbsp;</p>
<p><a href="/send?person_token={{person_token}}">&laquo; Back to main page</a></p>