
body
{
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
}


#header-container
{
	background-color: #1976D2;
	color: #fff;
	/*
	position: fixed;
	width: 100%;
	*/
}

#header-container h2
{
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
}

#header-container a
{
	text-decoration: none;
	color: #fff;
}

#logo
{
	width: 40px;
	height: 40px;
	margin: -10px 5px -3px 0px;
}

#header-container,
#help-container,
#main-container,
#share-container,
#footer-container
{
	padding: 10px;
}

.additional
{
	color: #999;
}

.button
{
	padding: 0.3em;
	border: 2px solid #003;
	margin: 0.5em 0;
	cursor: pointer;
}

.button a
{
	margin: -0.3em;
	display: block;
	padding: 0.3em;
	text-decoration: none;
	color: #000;
}


@media only screen and (max-width: 400px) {


}
